* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

html{
  scroll-behavior: smooth;
} 

body {
  background: #ffffff;
  color: #111;
}

.layout {
  position: relative;
}
