.content {
  margin-left: 260px;
  width: calc(100% - 260px);
}

.section {
  padding: 100px 120px;
  border-bottom: 1px solid #eee;
}


.section-number {
  color: #f97316;
  font-size: 24px;
  font-weight: bold;
}

.section h2 {
  font-size: 48px;
  margin: 20px 0;
}

.section p {
  max-width: 500px;
  line-height: 1.6;
  color: #444;
}


/*    PARTE DE TECNLOGIA NA SECTION!!!!  */
.tech-grid {
  list-style: none;  /* remove os bullets */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.tech-grid li {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 16px;
  text-align: center;
  transition: transform 0.3s;
}

.sec-tech-html:hover {
  transform: translateY(-6px);
  background-color:#f08f49;
  color:rgba(29, 28, 28, 0.897);
  font-weight: bold;
}

.sec-tech-css:hover {
  transform: translateY(-6px);
  background-color:rgb(141, 39, 224);
  color:aliceblue;
  font-weight: bold;
}

.sec-tech-js:hover {
  transform: translateY(-6px);
  background-color:rgba(245, 245, 8, 0.959);
  color:rgb(24, 26, 27);
  font-weight: bold;
}

.sec-tech-type:hover {
  transform: translateY(-6px);
  background-color:rgb(47, 110, 182);
  color:aliceblue;
  font-weight: bold;
}

.sec-tech-node:hover {
  transform: translateY(-6px);
  background-color:rgb(47, 196, 96);
  color:aliceblue;
  font-weight: bold;
}

.sec-tech-git:hover {
  transform: translateY(-6px);
  background-color:rgb(240, 182, 58);
  color:aliceblue;
  font-weight: bold;
}

