.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  padding: 40px 24px;
  border-right: 1px solid #e5e5e5;
  background: #fff;
}

.logo {
  font-size: 20px;
  margin-bottom: 60px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 16px;
}


.sidebar a {
  text-decoration: none;
  color: #111;
  font-size: 14px;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #f97316;
}